
body{
    margin: 0px;
    background: linear-gradient(to right, rgb(59, 59, 59), rgb(9, 51, 61));
    background-repeat: no-repeat;
    background-attachment: fixed;
}
main{
    margin: 20px;
}
h1{
    text-align: center;
    color:white;
    animation-name: popdown;
    animation-duration: 1s;
    display:inline-block;
}
p{
    color:white;
    animation-name: popup;
    animation-duration: 1s;
    display:inline-block;
}
h1:hover{
    background-color:rgb(85, 109, 101)
}
p:hover{
    background-color:rgb(85, 109, 101)
}
.navbar ul{
    list-style-type: none;
    background: rgb(39, 39, 39);
    border-bottom: outset;
    border-width: 8px;
    border-bottom-color: rgb(50, 50, 50);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
    display:block;
    text-align: center;
    font-family: "Montserrat";
    font-weight: bold;

}
.navbar a:hover{
    background-color: rgb(128, 128, 128);
    animation-name: size;
    animation-duration: 0.75s;
}
.navbar li{
    float: left;
    animation-name: popup;
    animation-duration: 1s;
}
.text{
    text-align: center;
    font-family: "Montserrat";
    font-weight: bold;
}
.linhvuc ul{
    list-style-type: none;
}
.linhvuc a{
    text-decoration: none;
    color:rgb(188, 223, 255);

}
li{
    text-align: center;
    font-family: "Montserrat";
    font-weight: bold; 
    padding-right: 40px;
}
.linhvuc:hover{
    animation-name: size;
    animation-duration: 2s;
}
@keyframes size{
    100%{transform: scale(110%)}
}
@keyframes size{
    50%{transform: scale(110%)}
}
@keyframes popup{
    from{transform: translateY(75%)}
}
@keyframes popdown{
    from{transform: translateY(-10%)}
}
